<div class="card row" [formGroup]="form">
  <div class="col-12 form-element">
    Name
    <input type="text" formControlName="name" />
  </div>
  <div class="col-12 form-element">
    Email
    <input type="text" formControlName="email" />
  </div>
  <div class="col-12 form-element">
    Password
    <input type="password" formControlName="password" />
  </div>
  <div class="col-12 form-element">
    Repeat Password
    <input type="password" formControlName="repeatPassword" />
  </div>
  <div class="col-12 button-container">
    <button class="btn btn-primary" [ngClass]="{'disabled':form.pristine}" [attr.disabled]="form.pristine ? '' : null"
      (click)="register()">Register</button>
  </div>
</div>