<header>
  <div routerLink="/" class="logo">
    <div class="scaler-container">
      <div class="scaler">
        <ul id="segments">
          <li class="segment"></li>
          <li class="segment"></li>
          <li class="segment"></li>
          <li class="segment"></li>
          <li class="segment"></li>
          <li class="segment"></li>
        </ul>
      </div>
    </div>
    <div class="title">
      {{ title }}!
    </div>
  </div>
  <div routerLink="/attributions" class="content-attibution">
    Content attribution
  </div>

</header>
