.difficulty-slider {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.difficulty {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}
